// FIXME: Implement generic approach at open-source level.
#enter_room:before {
    content: '8x8.vc';
    color: black;
    border-right: 1px solid #CBD8E4;
    display: inline-block;
    align-self: stretch;
    line-height: 48px;
    padding: 0 16px;
    font-size: 14px;
}

.welcome-page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}

.welcome-page-extra-content {
    padding-bottom: 88px;
}

.welcome-page-or-bubble {
    height: 56px;
    width: 56px;
    position: absolute;
    top: -28px;
    align-self: center;
    text-align: center;
    line-height: 56px;
    border-radius: 50%;
    color: black;
    background: #CBD8E4;
    font-weight: 500;
    font-size: 16px;
}

.welcome-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: calc(100% - 188px);
    padding: 60px 94px 103px;
    overflow: hidden;
}

.welcome-content-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.welcome-header-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #0E0E22;
}

.welcome-header-subtitle {
    font-size: 16px;
    line-height: 22px;
    color: #76787B;
}

.welcome-feature-list {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 24px;
}

.welcome-feature-item {
    height: 125px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-feature-icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 1px solid #CBD8E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.welcome-feature-title {
    height: 36px;
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #1C2025;
    text-align: center;
}

.welcome-button.welcome-button {
    align-items: center;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    min-height: 40px;
    justify-content: center;
    text-decoration: none;
}

.welcome-sign-up-free {
    align-self: center;
    background: #0A57EB;
    color: #fff !important;
    width: 177px;
    margin-top: 24px;
}

.welcome-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 64px;
}

.welcome-content-apps {
    position: relative;
    margin-right: 86px;
    margin-bottom: 18px;
}

.welcome-content-apps-vom {
    position: absolute;
    top: 36px;
    left: 450px;
}

.welcome-content-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 316px;
    min-height: 293px;
}

.welcome-content-details-text-large {
    color: #000;
    font-size: 32px;
    line-height: 40px;
}

.welcome-content-details-text-medium {
    color: #000;
    font-size: 20px;
    line-height: 26px;
    max-width: 264px;
}

.welcome-content-details-text-small {
    color: #000;
    font-size: 16px;
    line-height: 24px;
}

.welcome-app-icons {
    width: 104px;
    display: flex;
    justify-content: space-between;
}

.welcome-get-our-apps {
    align-self: flex-start;
    border: 1px solid #0A57EB;
    color: #0A57EB !important;
    width: 154px;
    margin-top: 24px;
}

.welcome-footer {
    width: calc(100% - 64px);
    height: 88px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: #CBD8E4;
    overflow: hidden;

    a {
        cursor: pointer;
    }

}

.welcome-footer-links {
    display: flex;
    justify-content: space-between;
    color: #000 !important;
    font-size: 13px;
    min-width: 527px;

    a {
        color: #000 !important;
        font-weight: 600;
        margin-left: 16px;
    }
}

.welcome-footer-links-info {
    display: flex;
    justify-content: space-around;
}

.welcome-footer-icons {
    display: flex;
    justify-content: space-between;
}

.welcome-footer-icons-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 120px;
}

.welcome-footer-icons-apps {
    display: flex;
    justify-content: space-between;
    margin-left: 37px;
    min-width: 270px;
}

.welcome-toolbar-buttons {
    display: flex;
    align-items: center;
}

.welcome-sign-up {
    background: #fff;
    color: #000 !important;
    width: 124px;
    margin-left: 50px;
}

.welcome-log-in {
    color: #fff !important;
    font-weight: 600;
}

// Mobile layout.
@media only screen and (max-width: 425px) {
    .welcome-content-container {
        width: calc(100% - 48px);
        padding: 60px 24px 43px;
    }

    .welcome-header-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    .welcome-header-subtitle {
        font-size: 16px;
        line-height: 22px;
    }

    .welcome-content-apps {
        margin-right: 36px;
    }

    .welcome-content-apps-vod {
        max-width: 280px;
    }

    .welcome-content-apps-vom {
        max-width: 84px;
        left: 243px;
        top: 13px;
    }

    .welcome-footer-icons-apps, .welcome-toolbar-buttons {
        display: none;
    }

    .welcome-get-our-apps {
        align-self: center;
        height: 48px;
        width: 260px;
        font-size: 16px;
    }

    .welcome-sign-up-free {
        height: 48px;
        width: 260px;
        font-size: 16px;
    }

    .welcome-feature-list {
        flex-direction: column;
        width: 100%;
    }

    .welcome-feature-item {
        flex-direction: row;
        height: inherit;
        width: inherit;
        margin-bottom: 20px;
    }

    .welcome-feature-icon {
        border: none;
        height: inherit;
        width: 36px;
        margin-top: 0;
    }

    .welcome-feature-title {
        margin-top: 0;
        height: inherit;
        text-align: initial;

    }

    .welcome-sign-up {
        margin-left: 0;
    }

    .welcome-content-details {
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .welcome-content-details-text-large {
        color: #000;
        font-size: 24px;
        line-height: 29px;
    }
    
    .welcome-content-details-text-medium {
        color: #76787B;
        font-size: 16px;
        line-height: 22px;
        max-width: 294px;
    }
    
    .welcome-content-details-text-small {
        color: #000;
        font-size: 16px;
        line-height: 22px;
    }

    .welcome .header #enter_room:before {
        display: none;
    }

    .welcome .header #enter_room {
        width: inherit;
    }

    .welcome .welcome-page-button {
        min-width: 87px;
    }

    .welcome .welcome-page-button {
        font-size: 16px;
    }

    .welcome .header .header-text {
        margin-top: 160px;
    }

    .welcome .header .header-text-title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .welcome .header .header-text-description {
        font-size: 24px;
        line-height: 29px;
        width: 240px;
    }

}

@media only screen and (max-width: 900px) {
    .welcome-content-container {
        width: calc(100% - 64px);
        padding: 60px 32px 76px;
    }
}

// Tablet layout.
@media only screen and (max-width: 768px) {
    .welcome-page-extra-content {
        padding-bottom: 200px;
    }

    .welcome-footer {
        height: 112px;
        padding: 24px 24px 64px;
        width: calc(100% - 48px);
        justify-content: center;
    }

    .welcome-footer-links {
        display: block;
        text-align: center;
    }

    .welcome-footer-links-info {
        display: block;
        margin-top: 18px;
    }

    .welcome-footer-icons-apps {
        display: none;
    }

    .welcome-footer-icons-social {
        min-width: 208px;
        margin-top: 32px;
        a {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid rgba(21, 21, 49, 0.4);
            height: 50px;
            width: 50px;
        }
    }
}

/**
 * Keep the application images scaled down in order to accommodate
 * smoother transitions.
*/
@media only screen and (min-width: 426px) and (max-width: 1115px) {
    .welcome-content-apps {
        margin-right: 88px;
    }

    .welcome-content-apps-vod {
        max-width: 298px;
    }

    .welcome-content-apps-vom {
        max-width: 91px;
        left: 256px;
        top: 21px;
    }
}

// Large screen layout.
@media only screen and (min-width: 1550px) {
    .welcome .header {
        background-size: contain;
    }
}

/**
 * Hides toolbar settings button since it is the first direct child
 * of the settings tab in WelcomePage. It is then followed by the
 * additional content added from settingsToolbarAdditionalContent.html.
*/
.welcome-page-settings > div:first-child {
    display: none;
}
