.unsupported-desktop-browser {
    @include absoluteAligning();

    display: block;
    text-align: center;
}

.unsupported-browser-content {
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.unsupported-browser-title {
    display: block;
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
.unsupported-browser-apps-container {
    margin-top: 24px;
}
.unsupported-browser-apps-header {
    color: #CBD8E4;
    font-size: 15px;
    line-height: 24px;
}

.unsupported-browser-apps {
    margin-top: 8px;
}

.unsupported-browser-app-button {
    display: inline-block;
    width: 130px;
    height: 40px;
    color: #fff !important;
    background: #0376DA;
    border-radius: 3px;
    text-decoration: none !important;
    line-height: 40px;
    font-weight: 600;
    font-size: 15px;

    img {
        vertical-align: middle;
    }
}

.unsupported-browser-app-button.rightmost {
    margin-left: 16px;
}

.unsupported-browser-subtitle {
    display: block;
    margin-top: 24px;
    color: #CBD8E4;
    font-size: 15px;
    line-height: 24px;
}

.unsupported-browser-separator {
    height: 1px;
    width: calc(100% - 40px);
    background-color: #fff;
    opacity: 0.3;
    margin: 20px 24px;
}

.unsupported-browser-footer {
    font-size: 13px;
    line-height: 20px;
    color: #CBD8E4;
}

.unsupported-browser-link {
    color: #fff !important;
    cursor: pointer;
}
